.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  color: #fff;
}
.fighter__char {
  padding: 0;
}

.fighter__char li {
  list-style-type: none;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.fighter__char li span {
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
}

.fighter__char li:nth-of-type(n + 2) {
  margin-top: 10px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: rotateY(180deg);
}

.fighter-preview___left {
  align-items: flex-start;
}
